// Place all the styles related to the Teacher::Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#questions-table {
  counter-reset: question;
}

.counter::after {
  counter-increment: question;
  content: counter(question)
}
