=render 'shared/errors', object: @test

=form_with model: [:teacher, @test], local: true do |f|
  =f.number_field :author_id, class: 'hidden'
  =f.number_field :article_id, class: 'hidden'

  .mb-3.add-questions
    p
      | Add questions:
    .mb-3
      =f.fields_for :questions do |q|
        =render 'teacher/questions/question_fields', f: q
      =link_to_add_association 'Add one more question', f, :questions, partial: 'teacher/questions/question_fields'


  =f.submit 'Submit', class: 'btn btn-outline-success btn-lg mb-4'