=render 'shared/errors', object: @article

=form_with model: [:teacher, @article], local: true do |f|
  =render 'article_fields', f: f



  br
  =f.submit 'Submit', class: 'btn btn-outline-primary btn-md mb-4'
